@font-face{
    font-family: BebasNeueBold;
    src: url('../fonts/bebas/BebasNeueBold.otf'),
         url('../fonts/bebas/BebasNeueBold.ttf');
}

@font-face{
    font-family: HelveticaLT;
    src: url('../fonts/helvetica/helveticaltstd-lightcond.otf')
}

body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    float: left;
    background-image: url("../img/bg.jpg");
    width: 100%;
    background-size: cover;
}

.header_container {
    position: relative;
    width: 1102px;
    margin: 0 auto;
    background-color: rgba(255, 252, 252, 0.51);
}
.container {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

.header_logo {
    position: absolute;
    top: 20px;
    left: 22px;
}

.header_logo_text a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.header_right_info {
    padding: 15px;
    float: right;
}


.header_right_info_phone,
.header_right_info_cart {
    display: block;
    float: left;
    font-size: 30px;
    color: #47a841;
    text-decoration: none;
    margin-left: 40px;
}

.header_right_info_phone span{
    display: inline-block;
    padding-left: 5px;
    color: #000;
    font-family: BebasNeueBold;
}

.header_logo_text {
    margin: 37px 0 0 0;
    font-family: BebasNeueBold;
    color:  #404040;
    font-size: 36px;
    font-weight: 400;
    line-height: 19px;
    text-align: justify;
}

.header_logo_text_desc {
    margin: 5px 0 0 0;
    font-family: Arial;
    color:  #404040;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: justify;
}

.header_menu {
    float: right;
}
.clr {
    clear: both;
}

.header_menu ul {
    margin: 0;
}

.header_menu ul li {
    display: block;
    float: left;
}

.header_menu ul li a {
    text-decoration: none;
    padding: 17px;
    height: 31px;
    font-family: Arial;
    font-size: 17px;
    font-weight: 400;
    line-height: 41px;
    text-align: justify;
    display: block;
}

.header_menu_btn {
    color: #404040;
}

.header_menu_btn_active,
.header_menu_btn:hover {
    background-color: #47a841;
    color: #ffffff;
    cursor: pointer;
}

.header_quote {
    position: relative;
    margin: 0 auto;
    width: 774px;
}

.header_quote_el {
    color: #d5d5d5;
    font-size: 50px;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
    padding-top: 14px;
}

.header_quote_text_normal {
    font-family: Cambria;
    color:  #404040;
    font-size: 22px;
    font-style: italic;
    line-height: 16px;
    text-align: center;
}

.header_quote_text_right {
    font-size: 18px;
    text-align: right;
}

main {
    min-height: 900px;
}

.main_container {
    position: relative;
    width: 934px;
    margin: 0 auto;
    padding: 84px;
    background: #fff;
}

h1, h2 {
    font-family: Arial;
    color:  #404040;
    font-size: 22px;
    font-style: italic;
    line-height: 36px;
}

.main_container_popular_item,
.main_container_short_cat_item,
.main_container_item{
    position: relative;
    width: 208px;
    float: left;
    margin: 16px 24px 16px 0;
    border: 1px solid #bfbaba;
    border-radius: 3px;
}

.main_container_popular_item,
.main_container_item{
    padding-bottom: 30px;
}

.main_container_popular_item_data,
.main_container_item_data,
.main_container_short_cat_item_data,
.main_container_current_item_data {
    display: block;
    text-decoration: none;
    color: #000;
    width: 208px;
}

.main_container_current_item_data {
    float: left;
}

.main_container_item_description {
    float: left;
    width: 700px;
    padding-left: 20px;
}

.main_container_item_description {
    font-family: HelveticaLT;
    font-size: 18px;
    text-indent: 20px;
}

.main_container_short_cat_item_data {
    margin: 0;
    padding: 10px 0 20px 0;
}

.main_container_popular_item_data>h3,
.main_container_popular_item_data>p,
.main_container_item_data>h3,
.main_container_item_data>p,
.main_container_short_cat_item_data>h3,
.main_container_short_cat_item_data>p {
    font-size: 16px;
    text-align: center;
}

.main_container_popular_item:hover,
.main_container_item:hover,
.main_container_short_cat_item:hover {
    background-color: #ffffff;
    box-shadow: 1px 4px 15.36px 0.64px rgba(12, 12, 12, 0.6);
    border-radius: 2px;
}

.main_container_popular_item_data>img,
.main_container_item_data>img,
.main_container_short_cat_item_data>img,
.main_container_current_item_data>img {
    width: 208px;
    height: 205px;
}

.main_container_popular_item_buy,
.main_container_item_buy,
.main_container_current_item_buy {
    text-decoration: none;
    display: block;
    background: #47a841;
    text-align: center;
    border-radius: 2px;
    color: white;
    height: 30px;
    line-height: 30px;
}

.main_container_popular_item_buy:hover,
.main_container_item_buy:hover,
.main_container_current_item_buy:hover {
    font-weight: bold;
    line-height: 30px;
}


.main_container_item_buy,
.main_container_popular_item_buy {
    position: absolute;
    width: inherit;
    bottom: -1px;
}

.main_container_item:nth-child(4n),
.main_container_popular_item:nth-child(4n),
.main_container_short_cat_item:nth-child(4n) {
    margin-right: 0;
}

.main_container_show_more {
    display: block;
    background-color: #f8f6f6;
    text-decoration: none;
    color: #000;
    height: 30px;
    width: auto;
    text-align: center;
    line-height: 30px;
    float: right;
    border-radius: 4px;
    margin: 20px 22px;
    padding: 0 8px 0 8px;
}

.main_container_show_more:hover {
    background-color: #47a841;
    color: #fff;
}

.social_block {
    background-color: #282828;
}

.social_block_item {
    float: left;
    width: 340px;
    height: 150px;
    text-align: center;
}


.social_block_bg_vk {
    background-color: #3b5997;
}

.social_block_bg_tw {
    background-color: #3fccfd;
}

.social_block_bg_twit {
    background-color: #cb2027;
}

.social_block_item div {
    display: block;
    text-decoration: none;
    margin-top: 38px;
    color: white;
    font-size: 68px;
}

footer {
    background-color: #282828;
    height: 39px;
}

footer>.container>p {
    font-family: PTSans;
    color: #949494;
    font-size: 12.5px;
    font-weight: 400;
    line-height: 3em;
    text-align: center;
    float: right;
    margin: 0 4px 0 0;
}

.main_container_breadcrumbs {
    font-size: 14px;
    color: #999;
}

.breadcrumbs_item {
    color: #999;
    text-decoration: none;
}

.main_container_contacts {
    display: block;
    text-decoration: none;
    margin: 20px 0;
}

.main_container_contacts>i {
    color: #47a841;
    font-size: 22px;
    padding: 0 20px;
    width: 30px;
}

.main_container_contacts>span {
    color: #000;
}